CONFIG_MEDIA_SUPPORT=m
CONFIG_VIDEO_DEV=m
CONFIG_MEDIA_TEST_SUPPORT=y
CONFIG_V4L_TEST_DRIVERS=y
CONFIG_VIDEO_VIVID=m

# Fix QEMU ARM64 crash: disable RAID6 NEON benchmark (neox causes kernel panic under QEMU)
CONFIG_RAID6_PQ_BENCHMARK=n
